@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&family=Roboto&family=Roboto+Slab:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.stateWrapper {
  background-color: #0e223f;
  width: 90%;
  margin: auto;
}
table {
  width: 95%;
  max-width: 1200px;
  margin: 1rem auto;
  background-color: #11294d;
  border-collapse: collapse;
}
table thead {
  border-bottom: 2px solid #b0b6bd;
  font-family: "Roboto Slab", serif;
}

tr {
  color: #eceef0;
}

table > tbody > tr {
  transition: all 0.4s ease-in;
}

table > thead > tr > th > button {
  float: right;
  clear: right;
}

table > thead > tr > th,
table > tbody > tr > td {
  padding: 10px;
  text-align: left;
}

table > tbody > tr:hover {
  background-color: rgb(53, 99, 160);
  color: aliceblue;
  transform: scale(1.04);
}

.filterWrapper {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 2rem auto;
}
.inputGroup {
  width: 300px;
  min-width: 260px;
}
input {
  font-size: 1.1rem;
  outline: none;
  max-width: 300px;
  outline: none;
  border: none;
  width: 90%;
  padding: 6px 10px;
  transition: width 0.3s ease-in-out;
  border-bottom: 1px solid #d3d5d6;
  overflow: hidden;
  background-color: transparent;
  color: #eceef0;
}
::placeholder {
  color: #d3d5d6;
  opacity: 1;
}
button {
  font-size: 1.3rem;
  padding: 3px;
  background: inherit;
  outline: none;
  border: none;
  cursor: pointer;
  color: #df6e95;
}
.clearBtn {
  color: #eceef0;
}
.modalWrapper {
  display: none;
  min-height: 100vh;
}
.modalWrapper.open {
  display: block;
  width: 100vw;
  height: max-content;
  position: fixed;
  overflow: hidden;
  top: 0;
  z-index: 1;
}
