* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.totalWrapper {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  /* background-color: bisque; */
}
.totalsubWrapper {
  background-color: #0e223f;
  border-radius: 10px;
}
.confirmedWrapper,
.recoveredWrapper,
.deathsWrapper,
.vaccinatedWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  max-width: 280px;
  align-items: center;
  margin: 5px;
  padding: 10px;
}

.vaccinatedWrapper .innerVaccinated {
  display: flex;
  flex-direction: row;
}
.vaccinated1Wrapper,
.vaccinated2Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 2px;
  margin: 0 1rem;
  align-items: center;
  /* background-color: blueviolet; */
}

.dataImg {
  width: 40px;
  height: 40px;
}
.title {
  font-size: 1.2rem;
  margin-bottom: 1.3rem;
  /* text-decoration: underline; */
  color: #b0b6bd;
  margin-bottom: auto;
}
.value {
  margin-top: 1rem;
  font-size: 1.3rem;
  color: #eceef0;
}
.vaccinatedWrapper .value {
  font-size: 1.3em;
}
