.timeSeriesWrapper {
  width: 80%;
  margin: auto;
}

.timeSeriesWrapper label {
  font: 1em sans-serif;
}
.timeSeriesWrapper input {
  border: 2px solid rgb(192, 136, 136);
  padding: 0;
  margin-top: 0.6rem;
  background-color: inherit;
}

.timeSeriesWrapper canvas {
  width: 100%;
  min-height: 500px;
  max-height: 500px;
  min-width: 250px;
}

@media screen and (max-width: 450px) {
  .filterDate {
    font-size: 1rem;
    margin-top: 1rem;
  }
}
